/* 
 * This is the default stylesheet for styling the profile output.
 * 
 * To override these styles, you can copy these styles into your theme stylesheet, 
 * and disable this stylesheet in the plugin options.
 */

.pure-profiles-wrapper {
/*
	border:2px solid #CCC;
	border-radius:25px;
	padding: 10px; */
}

.pure-profiles-header {
	font-weight:bold;
	font-size: 1.2em;
	color: #1D496E;
}

.pure-profiles-photo {
	/* float: right; */
    border: 1px solid #CCCCCC;
    display: block;
    padding: 5px;
	margin: 5px;
    width: 160px;	
}

.pure-profiles-body {
	
}

.job-description {
	font-size: 0.75em;
	color: #999999;
}

.organisation-name {

}
.pure-profiles-information-title {
	font-weight:bold;
	font-size: 1.1em;
	color: #1D496E;
}

.pure-profiles-publications-header {
	font-weight:bold;
	font-size: 1.1em;
	color: #1D496E;
}

.pure-profiles-publications-body {
}
.pure-profiles-publication-wrapper {
	padding-bottom: 5px;
}
.pure-profiles-publication-year {
	width: 100%;
	font-weight:bold;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

.pure-profiles-publication-title {
	color: #1D496E;
}
.pure-profiles-publication-info {
	font-size: 0.9em;
}

.pure-profiles-projects-header {
	font-weight:bold;
	font-size: 1.1em;
	color: #1D496E;
}
.pure-profiles-projects-body {
}
.pure-profiles-project-title {
	color: #1D496E;
}
.pure-profiles-project-info {
	font-size: 0.9em;
}

.pure-profiles-clippings-header {
	font-weight:bold;
	font-size: 1.1em;
	color: #1D496E;
}
.pure-profiles-clippings-body {
}
.pure-profiles-clipping-title {
	color: #1D496E;
}
.pure-profiles-clipping-info {
	font-size: 0.9em;
}

html .entry-content .pure-profiles-project-period-arrow {
	border-bottom: none;
	cursor:default; 
 }
 
.pure-profiles-arrow {
	cursor: pointer;
}
.entry-content .pure-profiles-twisty-open, .entry-content .pure-profiles-twisty-closed {
    border-radius: 0 0 0 0;
    box-shadow: 0 0 0;
}
.entry-content .pure-profiles-all-info-div {
	border-width: 1px;
	border-color: #1D496E;
	font-size: 0.9em;
	padding: 5px;
	padding-left: 15px;
}
